extends ../layout/logged-in

block content
    h1 Add project
    +messages(messages)
    form.form(action="/project/add", method="POST")
        +input("text", "Name", "name")
        +input("url", "URL", "url")
        button.btn.btn-primary(type="submit") Create project