extends layout/logged-in

block content
    .page-header: h1=(project) ? 'Switch project' : 'Select a project'
    if projects
        table.table
            thead
                tr
                    th Name
                    th Created
                    th Actions
            tbody
                each pro in projects
                    tr
                        td=pro.name
                        td=moment(pro.created).format('DD/MM/YYYY')
                        td: a.btn.btn-primary(href="/project/select/#{pro.id}")=(project) ? 'Switch' : 'Select'
    a.btn.btn-primary(href="/project/add") Create new project
