extends layout/logged-in

block content
    .page-header
        h1 Select a project
    if projects
        table.table
            thead
                tr
                    th Name
                    th Created
                    th Actions
            tbody
                each project in projects
                    tr
                        td=project.name
                        td=moment(project.created).format('DD/MM/YYYY')
                        td: a.btn.btn-default(href="/project/select/#{project.id}") Select
    a.btn.btn-default(href="/project/add") Create new project