extends layout/scaffolding

block main
    .container: .row: .col-sm-4.col-sm-offset-4
        h1 Login
        +messages(messages)
        form(action="/login", method="POST")
            +input("email", "Email", "email", "Email address", "sr-only")
            +input("password", "Password", "password", "Password", "sr-only")
            button.btn.btn-primary(type="submit") Login
            a.btn.btn-link(href="/register") Register