extends ../layout/logged-in
    
block content
    .page-header
        h1 API
    h2 Content
    pre: code /api/content/:id
    p Get content using ID, returns JSON
    pre: code /api/content/:path
    p Get content using path, returns JSON