extends ../layout/logged-in
    
block content
    h1 API
    h2 Content
    p: code /content/:id
    p Get content using ID, returns JSON
    p: code /content/:path
    p Get content using path, returns JSON