extends ../layout/logged-in
    
block content
    +messages(messages)
    .page-header: h1 Add snippet
    form(action='/snippets/add', method="POST")
        +input("text", "Path", "path")
        +textarea("Content", "body")
        +submit('Add snippet')