mixin main-nav-item(text, href, icon)
    if currentSection == text
        - var linkClass = 'is-current'
    li: a(href=href, class=linkClass)
        if icon
            span.icon(class=icon)
        | #{text}