include ../mixins/forms
include ../mixins/messages
include ../mixins/navigation

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Fuerte
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300')
        link(rel="stylesheet", href="/stylesheets/fuerte.min.css")
    body
        block main